<h1><%= @artist.name %></h1>

<div class="thumbnail">
<%= image_tag @artist.image_path%>
</div>

<%= link_to "Edit Artist", edit_artist_path %>
<%= link_to "Delete Artist", artist_path(@artist), method: :delete %>
<%= link_to "New Song", new_artist_song_path(@artist) %>
